html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: black;
  color: white;
  font-family: Jost, sans-serif;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  line-height: 1.8;
}

@media screen and (min-width: 750px) {
  body {
    font-size: 1.6rem;
  }
}

a {
  color: white;
}
